html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  Font-size: 90.44px;
}

h2 {
  Font-size: 63.96px;
}

h3 {
  Font-size: 45.23px;
}

h4 {
  Font-size: 31.99px;
}

h5 {
  Font-size: 22.62px;
}

h6 {
  Font-size: 16px;
}


.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

img {
  max-width: 50%;
}

.image01 {

}

.item01 {

}

.image02 {

}

.item02 {

}

.title {

}

.statement {

}

.solution {

}

.date {

}
