html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

H1 {
  Font-size: 90.44px;
  font-weight: bold;
}

H2 {
  Font-size: 31.99px;
  font-weight: Thin;
}

H3 {
  Font-size: 22.62px;
  font-weight: medium;
}

H4 {
  Font-size: 16px;
  font-weight:
}

H5 {
  Font-size: 8px;
}

.btn {

}
